@import "minimal-mistakes";

/* Make the left sidebar wider */
.sidebar {
  width: 320px;
}

/* Adjust the main content to account for the wider sidebar */
@media (min-width: 80em) {
  .archive {
    width: calc(100% - 340px);
    padding-right: 2em;
  }

  .sidebar {
    width: 320px;
  }
}

/* Make the profile picture larger */

.author__avatar img {
  width: 420px !important;
  height: 420px !important;
  border-radius: 90%;
  border: 3px solid #eee;
  object-fit: cover;
}